@import 'tailwindcss';

@theme {

  --color-primary: #1f1f34;
  --color-secondary: #b4aa9b;
  --color-secondary-light: #f0e6e0;

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Cormorant Garamond', serif;
  --font-angella: 'Angella White', cursive;
  --font-hero: 'Hero', sans-serif;
}