---
import InvitationSection from '../InvitationSection.astro';
import Rule from '../Rule.astro';
---

<InvitationSection id="section-important-information">
  <div class="relative z-10 space-y-12 text-center">
    
    <!-- Header -->
    <header class="space-y-6">
      <h2 class="font-hero text-2xl md:text-3xl tracking-[0.2em] text-secondary-light uppercase font-medium">
        Información importante
      </h2>
      
    </header>

    <!-- Rules list -->
    <section class="space-y-6 max-w-2xl mx-auto">
      <div class="text-center space-y-4">
        
        <Rule number={1} text="Toma en cuenta que eres una parte especial de la celebración." />
        <Rule number={2} text="Los lugares son reservados." />
        <Rule number={3} text="Estacionamiento está incluido por el salón." />
        <Rule number={4} text="No te quedes sentado ¡Disfruta y diviértete al máximo!" />

      </div>
    </section>

  </div>
</InvitationSection> 