---
import InvitationSection from '../InvitationSection.astro';
import ItineraryIcon from '../ItineraryIcon.astro';
import ItineraryFlower from '../ItineraryFlower.astro';
import ItineraryText from '../ItineraryText.astro';
---

<InvitationSection id="section-itinerary">
  <div class="relative z-10 space-y-12 text-center">
    
    <!-- Header -->
    <header class="m-1 mb-8">
      <h2 class="font-hero text-3xl md:text-4xl tracking-[0.2em] text-secondary-light font-light">
        Itinerario
      </h2>
    </header>

    <!-- Timeline -->
    <section class="relative max-w-lg mx-auto">
      <!-- Vertical timeline line -->
      <div class="absolute left-1/2 transform -translate-x-1/2 w-px h-full bg-gradient-to-b from-transparent via-secondary-light/30 to-transparent"></div>
      
      <div class="space-y-6">
                 <!-- Recepción -->
         <div class="relative flex items-center">
           <!-- Left side - text -->
           <ItineraryText title="Recepción" time="5:30 pm" position="left" />
           
           <!-- Center - flower icon -->
           <div class="absolute left-1/2 transform -translate-x-1/2 w-8 h-8 flex items-center justify-center">
             <ItineraryFlower />
           </div>
           
           <!-- Right side - icon -->
           <div class="w-1/2 pl-8 flex justify-start">
             <ItineraryIcon icon="list" alt="Reception list" />
           </div>
         </div>

                 <!-- Cena -->
         <div class="relative flex items-center">
           <!-- Left side - icon -->
           <div class="w-1/2 pr-8 flex justify-end">
             <ItineraryIcon icon="food" alt="Dinner" />
           </div>
           
           <!-- Center - flower icon -->
           <div class="absolute left-1/2 transform -translate-x-1/2 w-8 h-8 flex items-center justify-center">
             <ItineraryFlower />
           </div>
           
           <!-- Right side - text -->
           <ItineraryText title="Cena" time="6:00 pm" position="right" />
         </div>

                 <!-- Apertura de pista -->
         <div class="relative flex items-center">
           <!-- Left side - text -->
           <ItineraryText title="Apertura de pista" time="07:00 pm" position="left" />
           
           <!-- Center - flower icon -->
           <div class="absolute left-1/2 transform -translate-x-1/2 w-8 h-8 flex items-center justify-center">
             <ItineraryFlower />
           </div>
           
           <!-- Right side - icon -->
           <div class="w-1/2 pl-8 flex justify-start">
             <ItineraryIcon icon="light-party" alt="Dance floor opening" />
           </div>
         </div>

                 <!-- Pastel -->
         <div class="relative flex items-center">
           <!-- Left side - icon -->
           <div class="w-1/2 pr-8 flex justify-end">
             <ItineraryIcon icon="cake" alt="Cake cutting" />
           </div>
           
           <!-- Center - flower icon -->
           <div class="absolute left-1/2 transform -translate-x-1/2 w-8 h-8 flex items-center justify-center">
             <ItineraryFlower />
           </div>
           
           <!-- Right side - text -->
           <ItineraryText title="Pastel" time="09:00 pm" position="right" />
         </div>

                 <!-- Snack de despedida -->
         <div class="relative flex items-center">
           <!-- Left side - text -->
           <ItineraryText title="Snack de despedida" time="10:30 pm" position="left" />
           
           <!-- Center - flower icon -->
           <div class="absolute left-1/2 transform -translate-x-1/2 w-8 h-8 flex items-center justify-center">
             <ItineraryFlower />
           </div>
           
           <!-- Right side - icon -->
           <div class="w-1/2 pl-8 flex justify-start">
             <ItineraryIcon icon="fireworks" alt="Farewell snack" />
           </div>
         </div>

      </div>
    </section>

  </div>
</InvitationSection> 