---
export interface Props {
  icon: string;
  alt?: string;
}

const { icon, alt = '' } = Astro.props;
---

<div class="w-12 h-12 bg-contain bg-no-repeat bg-center" 
     style={`background-image: url('images/${icon}.webp');`}
     role="img"
     aria-label={alt}>
</div> 