---
// Component for the central flower icons in the itinerary timeline
---

<div class="w-6 h-6 bg-contain bg-no-repeat bg-center" 
     style="background-image: url('/images/itinerary-flower.webp');"
     role="img"
     aria-label="Timeline connector">
</div> 